.search {
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search input {
  border: 1px solid #ccc;
  padding: 4px 5px;
}

.search button {
  background-color: cornflowerblue;
  padding: 5px 8px;
  margin-left: 5px;
}